<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<th:block layout:fragment="head">
</th:block>

<th:block layout:fragment="content">
	<section>
		<form id="joinForm" action="#" role="form" method="post">

			<div class="row gtr-uniform">
				<div class="col-6 col-12-xsmall">
					<label th:for="name">이름</label> <input type="text" name="name" id="name" class="form-control" placeholder="이름을 입력해주세요">
				</div>
				<div class="col-6 col-12-xsmall">
					<label th:for="email">이메일주소</label> <input type="email" class="form-control" placeholder="이메일을 입력해주세요">
				</div>

				<div class="col-6 col-12-xsmall">
					<label th:for="password">비밀번호</label> <input type="password" class="form-control" placeholder="비밀번호 입력">
				</div>

				<div class="col-6 col-12-xsmall">
					<label th:for="address">주소</label> <input type="text" class="form-control" placeholder="주소를 입력해주세요">
				</div>

				<div class="col-6 col-12-xsmall">
					<label th:for="gender">성별</label> 
					<input type="radio" id="demo-priority-mail" name="demo-priority" value="남"> 
					<label for="demo-priority-mail">남</label>
					<input type="radio" id="demo-priority-femail" name="demo-priority" value="여">
					<label for="demo-priority-femail">여</label>
				</div>

				<div style="text-align: center" class="col-12 col-12-xsmall">
					<button type="button" id="joinButton" class="button primary fit">join</button>
					<button type="button" class="button fit" onclick="history.back();">Cancel</button>
				</div>

			</div>

		</form>
	</section>
	
</th:block>

<th:block layout:fragment="script">
	<script th:inline="javascript">
	 $(document).ready(function(){  
         $("#demo-priority-mail").attr("checked", true);
         
         $("#joinButton").click(function() {
        	 let formData = $("form[id=joinForm]").serializeArray();
        	 let obj = {};
        	 
        	 for (let i = 0; i < formData.length; i++) {
        		 obj[formData[i]['name']] = formData[i]['value'];
        	 }
        	 
        	 $.ajax({
        		 url: "/api/member/join",
        		 method : "post",
        		 data: JSON.stringify(obj),
        		 contentType:'application/json;charset=utf-8',
        		 dataType:'json',
        		 success : function(result) {
        			let code = result.statusCode;
					let message = result.responseMessage;
					alert(message);	
					if (code == 201) { 
						window.location.href = "/member/login"
					}
					
					
        		 },
        		 error : function(error) {
        			 
        		 }
        	 })
        	 
         });
         
         
     });
	</script>
</th:block>
