<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
	
<th:block layout:fragment="head">
</th:block>

<th:block layout:fragment="content">
	<section>

		<div class="row aln-center gtr-1 gtr-uniform">
			<form role="form" id="loginForm" method="post">
				<div class="col-6 col-12-medium">
					<label th:for="email">Email</label>
	            	<input type="email" name="email" class="form-control" placeholder="이메일을 입력해주세요">
				</div>
				
				<div class="col-6 col-12-medium">
				 	<label th:for="password">password</label>
	            	<input type="password" name="password" class="form-control" placeholder="비밀번호 입력">
				</div>
				
				<div class="col-6 col-12-medium" style="margin-top: 20px;">
					<button type="button" id="loginButton" class="button primary fit">로그인</button>
					<a href="/member/join" class="button fit">회원가입</a>
					<a href="https://kauth.kakao.com/oauth/authorize?client_id=5c78ab9195c6750c34b1a2fd56ad0da1&redirect_uri=http://localhost:8080/api/member/kakao&response_type=code" 
					style="border-bottom:none;">
	  					<img th:src="@{/images/kakao_login_large_wide.png}" style="height:45px; width:100%; object-fit:cover; "/>
					</a>
				</div>
			</form>
		</div>
		
	</section>
</th:block>

<th:block layout:fragment="script">
   <script th:inline="javascript">
        $(document).ready(function(){
        	
        	$("#loginButton").click(function() {
        		 let formData = $("form[id=loginForm]").serializeArray();
            	 let obj = {};
            	 
            	 for (let i = 0; i < formData.length; i++) {
            		 obj[formData[i]['name']] = formData[i]['value'];
            	 }
        		
        		$.ajax({
        			url : "/api/member/login",
        			method : "post",
        			data: JSON.stringify(obj),
            		contentType:'application/json;charset=utf-8',
            		dataType:'json',
            		success : function(result) {
            			let code = result.statusCode;
    					let message = result.responseMessage;   
						alert(message);
						
            			if (code == 200) { 
            				window.location.href = "/"
    					}
        			},
        			error : function(error) {
        			}
        		});
        		
        		
        	});
          
        });
    </script>
</th:block>


</html>